<?xml version="1.0"?>

<launch>
  <arg name="uri1" default="radio://0/60/2M/E7E7E7E711" />
  <arg name="uri2" default="radio://0/80/2M/E7E7E7E712" />
  <arg name="uri3" default="radio://0/100/2M/E7E7E7E7E7" />

  <arg name="vicon_ip" default="192.168.1.138:801" />

  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch" />

  <group ns="/percy">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="/percy" />
    </include>
  </group>

  <group ns="/danny">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri2)" />
      <arg name="tf_prefix" value="/danny" />
    </include>
  </group>

  <group ns="/bob">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri3)" />
      <arg name="tf_prefix" value="/bob" />
    </include>
  </group>

  <!-- run vicon bridge -->
  <include file="$(find vicon_bridge)/launch/vicon.launch">
    <arg name="vicon_ip" value="$(arg vicon_ip)" />
  </include>

</launch>
